<!DOCTYPE html>

<html>
	<head>
		<title>{% block title %}{{ title }}{% endblock %}</title>

		<meta charset="utf-8">
    	<meta name="viewport" content="width=device-width, initial-scale=1">
    	<link rel="stylesheet" type="text/css" href="static/main.css">

    	<script src="../{{ js_file}} "></script>
    	<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.11/handlebars.min.js"></script>

		<script id="channel-item" type="text/x-handlebars-template">
			<div class="channel-item">
				<div class="border-btm">
					<span class="channel-title">
						{% raw -%}
							{{ channel_name }}
						{%- endraw %}
					</span>
					<span class="text-secondary spacer-lg">Followers: 0</span>
				</div>
			</div>			
		</script>
	</head>
	<body>
		<header>
			<img class="logo" src="static/logo.png" width="120px">
			<nav>
				<ul class="nav-links">
					<li><a class="active" href="{{ url_for('home') }}">Home</a></li>
					<li><a href="{{ url_for('myChannels') }}">My Channels</a></li>
				</ul>
			</nav>
			<a href="{{ url_for('newChannel') }}"><button>New Channel</button></a>
			<a href="{{ url_for('logout') }}"><button class="accent-btn">Logout</button></a>
		</header>

		<main class="container">
			<p id="testing">
				
			</p>
			<div id="channels">
				
			</div>
		</main>
	</body>
</html>