{% extends "layout.html" %}

{% block heading %}
	<header>
		<img class="logo" src="static/logo.png" width="120px">
		<nav>
			<ul class="nav-links">
				<li><a class="active" href="{{ url_for('home') }}">Home</a></li>
				<li><a href="{{ url_for('myChannels') }}">My Channels</a></li>
			</ul>
		</nav>
		<a href="{{ url_for('newChannel') }}"><button>New Channel</button></a>
		<a href="{{ url_for('logout') }}"><button class="accent-btn">Logout</button></a>
	</header>
{% endblock %}

{% block body %}
<main class="container">
		<p>Hello</p>
</main>
{% endblock %}