<!DOCTYPE html>

<html>
	<head>
		<title>{% block title %}{{ title }}{% endblock %}</title>

		<meta charset="utf-8">
    	<meta name="viewport" content="width=device-width, initial-scale=1">
    	<link rel="stylesheet" type="text/css" href="static/main.css">

		<script src="{{ js_file }}"></script>
	</head>

	<body class="main">
		{% with messages = get_flashed_messages(with_categories=true) %}
			{% if messages %}
				{% for categories, message in messages %}
					<div class="alert alert-{{ category }}">
						{{ message }}
					</div>
				{% endfor %}
			{% endif %}
		{% endwith %}

		<div class="main-form">
			<p class="sign" align="center">Sign In</p>
			<form class="form1" action="" method="post">
				{{ form.hidden_tag() }}
				<div>
					{{ form.username(class="un", placeholder="Username", align="center") }}
				</div>
				<div>
					{{ form.password(class="pass", placeholder="Password", align="center")}}
				</div>
				<div>
					{{ form.submit(class="submit", align="center") }}
				</div>

				<p class="forgot" align="center"><a class="" href="{{ url_for('register') }}">Register Here</a></p>
			</form>
		</div>

	</body>
</html>