{% extends "layout.html" %}

{% block heading %}
	<header>
		<img class="logo" src="static/logo.png" width="120px">
		<nav>
			<ul class="nav-links">
				<li><a href="{{ url_for('home') }}">Home</a></li>
				<li><a href="{{ url_for('myChannels') }}">My Channels</a></li>
				<li><a href="{{ url_for('newChannel') }}">Create Channel</a></li>
				<li><a href="{{ url_for('logout') }}">Logout</a></li>
			</ul>
		</nav>
	</header>
{% endblock %}

{% block body %}
<div class="channel-form">
	<p class="sign" align="center">Create A New Channel</p>
	<form action="", method="post">
		<div>
			<input class="cn" placeholder="New Channel Name" type="text" name="class_name" align="center" required>
		</div>
		<div class="form-section" align="center">
			<span class="text-dark">Is this channel public or private?</span>
			<select id="channel-type" class="spacer select-field" name="channel-type">
				<option value="public">Public</option>
				<option value="private">Private</option>
			</select>
		</div>
		<div>
			<button class="create-btn" align="center">Create Channel</button>
		</div>
	</form>
</div>

{% endblock %}