<!DOCTYPE html>

<html>
	<head>
		<title>Register</title>

		<meta charset="utf-8">
    	<meta name="viewport" content="width=device-width, initial-scale=1">
    	<link rel="stylesheet" type="text/css" href="static/main.css">

		<script src="../{{ js_file }}"></script>
	</head>

	<body class="main">
		{% with messages = get_flashed_messages(with_categories=true) %}
			{% if messages %}
				{% for categories, message in messages %}
					<div class="alert alert-{{ category }}">
						{{ message }}
					</div>
				{% endfor %}
			{% endif %}
		{% endwith %}

		<div class="main-form">
			<p class="sign" align="center">Register</p>
			<form action="" method="post">
				<div>
					<input class="un" type="text" name="username" autocomplete="off" placeholder="Username" align="center" required>
				</div>
				<div>
					<input id="pass" class="pass" type="password" name="Password" placeholder="Password" align="center" required>
				</div>
				<div>
					<input id="cPass" class="pass" type="password" name="Password" placeholder="Retype Password" align="center" required>
				</div>
				<div>
					<button id="submit" class="register-btn">Register</button>
				</div>

				<p class="forgot" align="center">
					Already Have An Account?
					<a class="link" href="{{ url_for('login') }}">Sign In</a>
				</p>
			</form>
		</div>

	</body>
</html>