@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

li, a {
	font-family: "Montserrat", sans-serif;
	font-weight: 500;
	font-size: 14px;
	color: rgba(0, 0, 0, 1);
	text-decoration: none;
}

header {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding: 10px 3%;
	background-color: rgba(255, 255, 255, 0);
	box-shadow: 1px 1px 3px 1px rgba(30, 30, 30, 0.25); 
	position: fixed;
	top: 0px;
	width: 100%;
}

body {
  background: #355c7d; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #355c7d, #6c5b7b, #c06c84); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #355c7d, #6c5b7b, #c06c84);
  }

main {
	margin-top: 75px;
}

.container {
	margin-left: 20%;
	margin-right: 20%;
	margin-top: 20px;
	background-color: ;
	border-radius: 4px;
	padding: 5px 5px 1px 5px;
}

.logo {
	cursor: pointer;
	margin-right: auto;
}

.nav-links {
	list-style: none;
}

.nav-links li {
	display: inline-block;
	padding: 0px 10px;
}

.nav-links li a {
	transition: all 0.3s ease 0s;
}

.nav-links li a:hover {
	color: rgba(0, 0, 0, 1);
	border-bottom-style: solid;
	border-bottom-width: 2px;
	border-bottom-color: rgba(0, 0, 0, 1);
	border-top-style: solid;
	border-top-width: 2px;
	border-top-color: rgba(0, 0, 0, 1);
	padding-bottom: 2px;
}

.accent-btn {
	background-color: rgba(235, 164, 52, 1);
	margin-left: 115px;
	font-family: "Montserrat", sans-serif;
	font-weight: 500;
	font-size: 14px;
	color: #edf0f1;
	text-decoration: none;
	border: none;
	border-radius: 50px;
	cursor: pointer;
	transition: all 0.3s ease 0s;
	padding: 9px 20px;
}

.accent-btn:hover {
	background-color: rgba(235, 164, 52, 0.7);
}

.active {
	font-weight: bold;
	font-size: 16px;
	border-bottom-style: solid;
	border-bottom-width: 3px;
	border-bottom-color: rgba(0, 126, 169, 1);
	padding-bottom: 2px;
}

.main-btn {
	padding: 9px 20px;
	background-color: rgba(0, 126, 169, 1);
	border: none;
	border-radius: 50px;
	cursor: pointer;
	transition: all 0.3s ease 0s;
	margin-left: 20px;
}

.main {
	background-color: rgba(0, 126, 169, 1);
}

.main-form {
	background-color: rgba(255, 255, 255, 0.9);
	width: 400px;
	height: 400px;
	margin: 7em auto;
	border-radius: 1.5em;
	box-shadow: 0px 11px 35px 2px rgba(0,0,0,0.25);
}

.channel-form {
	background-color: rgba(255, 255, 255, 0.9);
	margin: auto;
	margin-top: 100px;
	width: 500px;
	height: 500px;
	border-radius: 0.5em;
	box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.25);
}

.channel-title {
	font-size: 18px;
	color: rgba(0, 0, 0, 1);
}

.spacer-sm {
	margin-left: 10px;
}

.spacer-lg {
	margin-left: 40px;
	float: right;
}

.text-white {
	color: #ffffff;
	font-size: 14px;
	font-family: 'Montserrat', sans-serif;
}

.text-dark {
	color: rgba(0, 0, 0, 0.9);
	font-size: 14px;
	font-family: 'Montserrat', sans-serif;
}

.text-secondary {
	font-size: 12px;
	color: rgba(0, 0, 0, 1);
}

.border-btm {
	border-bottom: 1px solid;
	border-color: rgba(0, 126, 169, 1);
	padding-bottom: 4px;
	margin-left: 10px;
	margin-right: 10px;
}

.select-field {
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-right: 5px;
}


.sign {
	padding-top: 30px;
	padding-bottom: 40px;
	color: rgba(0, 0, 0, 0.9);
	font-family: "Montserrat", sans-serif;
	font-weight: bold;
	font-size: 24px;
}

.un {
	width: 76%;
    color: rgb(38, 50, 56);
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
    background: rgba(255, 255, 255, 0.9);
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
    padding: 10px 25px 10px 15px;
    border-radius: 20px;
    outline: none;
    box-sizing: border-box;
    border: 2px solid rgba(0, 0, 0, 0.02);
    margin-bottom: 50px;
    margin-left: 46px;
    text-align: center;
    margin-bottom: 27px;
    font-family: 'Montserrat', sans-serif;
}

.cn {
	width: 76%;
	font-family: 'Montserrat', sans-serif;
	font-size: 18px;
	font-weight: 700;
	margin-bottom: 27px;
	margin-left: 52px;
	text-align: center;
	box-sizing: border-box;
	padding: 10px 25px 10px 15px;
	border: 2px solid rgba(0, 0, 0, 0.02);
	border-radius: 15px;
	background: rgba(255, 255, 255, 0.9);
	box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
}

form.form1 {
	padding-top: 40px;
}


.register-btn {
	cursor: pointer;
    border-radius: 5em;
    color: #fff;
    background-color: rgba(235, 164, 52, 1);
    border: 0;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 10px;
    padding-top: 10px;
    font-family: 'Montserrat', sans-serif;
    margin-left: 34%;
    font-size: 13px;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
    margin-top: 10px;
}

.register-btn:hover {
	background-color: rgba(235, 164, 52, 0.8);
}

.create-btn {
	cursor: pointer;
	border-radius: 15px;
	background-color: rgba(0, 126, 169, 1);
	font-family: 'Montserrat', sans-serif;
	padding: 10px 40px 10px 40px;
	margin-top: 20%;
	margin-left: 31%;
	color: #ffffff;
	border: 0;
	font-size: 15px;
	padding-top: 13px;
	padding-bottom: 13px;
}
.form-section {
	margin-top: 25px;
}

.bool {
	margin-left: 10%;
}

.create-btn:hover {
	background-color: rgba(0, 126, 169, 0.7);
}

.pass {
    width: 76%;
    color: rgb(38, 50, 56);
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
    background: rgba(255, 255, 255, 1);
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    outline: none;
    box-sizing: border-box;
    border: 2px solid rgba(0, 0, 0, 0.02);
    margin-bottom: 70px;
    margin-left: 46px;
    text-align: center;
    margin-bottom: 27px;
    font-family: 'Montserrat', sans-serif;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.un:focus, .pass:focus {
	border: 2px solid rgba(0, 0, 0, 0.18) !important;
}

.submit {
	cursor: pointer;
    border-radius: 5em;
    color: #fff;
    background-color: rgba(235, 164, 52, 1);
    border: 0;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 10px;
    padding-top: 10px;
    font-family: 'Montserrat', sans-serif;
    margin-left: 35%;
    font-size: 13px;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
    margin-top: 10px;
}

.submit:hover {
	background-color: rgba(235, 164, 52, 0.8);
}

.forgot {
	text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
    color: rgba(0, 0, 0, 1);
    padding-top: 15px;
}

.link {
	color: rgba(0, 0, 0, 1);
}

.disabled-btn {
    border-radius: 5em;
    color: #fff;
    background-color: rgba(35, 35, 35, 0.8);
    border: 0;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 10px;
    padding-top: 10px;
    font-family: 'Montserrat', sans-serif;
    margin-left: 35%;
    font-size: 13px;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
    margin-top: 10px;
}

.channel-item {
	cursor: pointer;
	border-radius: 4px;
	background-color: rgba(255, 255, 255, 0.9);
	font-family: 'Montserrat', sans-serif;
	margin-bottom: 1px;
	padding-top: 10px;
	padding-bottom: 70px;
	transition: all 0.3s ease-in;
	width: 68%;
}

.side-bar {
	float: left;
	height: 400px;
	margin-left: 1%;
	background-color: rgba(255, 255, 255, 0.9);
	border-radius: 4px;
	font-family: 'Montserrat', sans-serif;
	position: fixed;
	top: 75px;
	width: 20%;
}

.search-bar {
	border-radius: 10px;
	font-family: 'Montserrat', sans-serif;
	margin-bottom: 10px;
	margin-left: 22.5%; 
	background-color: rgba(0, 0, 0, 0.25);
	border: 1px solid rgba(0, 0, 0, 0.2);
	width: 55%;
}

.search-input {
	color: rgb(38, 50, 56);
	padding: 10px 20px;
	margin-top: 10px;
	margin-bottom: 10px;
	width: 85%;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
    font-size: 14px;
    border-radius: 10px;
    border: none;
    text-align: center;
}

.channels {
	margin-left: 22.5%;
}

.channel-item:hover {
	transform: translateX(10px);
}

.alert {
	font-family: "Montserrat", sans-serif;
	padding-top: 10px;
	padding-bottom: 10px;
	width: 400px;
	color: #ffffff;
}

.alert-danger {
	background-color: rgba(50, 135, 168, 0.7);
}

@media (max-width: 600px) {
	.main {
		border-radius: 0px;
	}

	div.side-bar {
		display: none;
	}

	div.channels {
		margin-left: 10%;
		margin-right: 10%;
	}

	.channel-item {
		width: 100%;
	}

	.search-bar {
		width: 80%;
		margin-right: 10%;
		margin-left: 10%;
	}
}
